@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --modarate-violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-white: rgba(255, 255, 255, 0.5);
  --black: hsl(0, 0%, 0%);
  --body-font: "Barlow Semi Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

body {
  overflow-y: scroll;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  font-family: var(--body-font);
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.card-container {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card-container > * {
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-radius: 0.5rem;
  padding: 1.9rem 2.6rem;
}

.card-1,
.card-2,
.card-5 {
  color: var(--white);
}

.card-3,
.card-4 {
  background-color: var(--white);
  color: var(--black);
}

.card-1 {
  background: url("images/bg-pattern-quotation.svg") no-repeat;
  background-position: top right 20%;
  background-size: 100px;
  grid-column: span 2;
  background-color: var(--modarate-violet);
}

.card-2 {
  background-color: var(--dark-grayish-blue);
}

.card-3 {
  grid-row: span 2;
}

.card-5 {
  background-color: var(--dark-blackish-blue);
  grid-column: span 2;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.author-desc,
.content {
  opacity: 50%;
}

.author-desc {
  font-size: 11px;
}

img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.card-1 img,
.card-5 img {
  border: solid 2px;
}

.card-5 img {
  border-color: var(--modarate-violet);
}

.card-1 img {
  border-color: var(--light-white);
}

.highlight-content {
  font-size: 1.5rem;
  word-spacing: 1.7px;
}

.content {
  font-size: 1rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 800px) {
  .card-container > * {
    grid-column: span 4;
    grid-row: span 1;
  }
}
